/* ============================================
   КОНТЕНТ СТРАНИЦ — ОБЩИЕ СТИЛИ
   Отступ от шапки, размер заголовков — для всех страниц
   ============================================ */

.page-content {
  padding: 0 4% 0 4%;     /* Отступ сверху от шапки, боковые — МЕНЯЙ ТУТ */
   min-height: 100vh;
}

.page-title {
  color: var(--text-color);
  font-size: 7vh;                      /* Размер заголовка — МЕНЯЙ ТУТ */
  font-family: 'Montserrat', 'Inter', sans-serif;
  font-weight: 1100;
  margin: -1vh 0 2vh 0;                   /* Отступ снизу — МЕНЯЙ ТУТ */
 leteer-spacing: 0.02em;
}
