/* Светлая тема */
[data-theme="light"] {
  --bg-color: #FFFFFF;
  --text-color: #1C1C1E;
  --accent-color: #C4A747;
}

/* Темная тема */
[data-theme="dark"] {
  --bg-color: #0B0F14;
  --text-color: #FFFFFF;
  --accent-color: #D4AF37;
}
