/* Стили только для загрузочного экрана */
.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 25vh;          /* 25% от верхнего края */
}
