.home {
  min-height: 100vh;
  background: var(--bg-color);
  padding-bottom: 80px;
}

.home__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 0 12px;
}
